<%= simple_form_for @book,:html =>{ :multipart =>true}  do |f| %>

    <%= select_tag(:category_id, options_for_select(@categories),:promtpt => 'Category') %>
    <p></p>
    <%= f.file_field :book_img %>
    <%= f.input :name,label: "Kitab覺n Ad覺" %>
    <%= f.input :author,label: "Yazar" %>
    <%= f.input :page_count,label: "Sayfa Say覺s覺" %>
    <%= f.input :state,label: "Bulunma Durumu" %>
    <%= f.button :submit %>
<% end %>