<div class="container">
  <h2>Kitabı Düzenle</h2>
  <%= simple_form_for @book, :html =>{ :multipart =>true}  do |f| %>
      <%= f.select :category_id, @categories %>
      <%= f.input :name,label: "Kitabın Adı" %>
      <%= f.input :author,label: "Yazar" %>
      <%= f.input :page_count,label: "Sayfa Sayısı" %>
      <%= f.input :state,label: "Bulunma Durumu" %>
      <%= f.button :submit %>
  <% end %>
</div>